@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }
    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}